<!DOCTYPE html>
<html>
<head>
  <title>Lesson</title>
  <link rel='stylesheet' href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_template.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/footer.css') }}">
</head>

<body>
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-black w3-border-right w3-animate-left"
  style="display:none;z-index:5"
  id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">close &times;</button>
  <h3 class="w3-bar-item">menu</h3>
  <a href="{{ url_for('about') }}" class="w3-bar-item w3-button">About</a>
  <a href="{{ url_for('lesson') }}" class="w3-bar-item w3-button">Lessons</a>
  <a href="{{ url_for('quiz') }}" class="w3-bar-item w3-button">Quiz</a>
  <a href="{{ url_for('sign_up') }}" class="w3-bar-item w3-button">Sign Up</a>
  </div>
</div>

<!-- Page Content -->

<div class = "w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay">
</div>

<div class="header">
  <button class="w3-button w3-xxlarge" onclick="w3_open()">&#9776; </button>
  <div class="w3-container  w3-xlarge">
    <h2>Beginner's Lessons</h2>
  </div>
</div>


<div class=" factsheet w3-container">
  <div id="about">
    <br>
    <div class='row'>
      <div class='col-sm-3'>
        <div class="w3-card">
          <img class="card-img-top">
          <blockquote>
            <p><b>Lesson 1</p></b>
            <small class="lead"><u>
              Meetings and Greetings <br></u>
             <br>
            </small>
          </blockquote>
          <p>
            <b>Hello<br></b>
Hola<br>
<br>
<b>What is your name?<br></b>
¿Cómo te llamas?<br>
<br>
<b>My name is<br></b>
Me llamo + your name<br>
<br>
<b>Nice to meet you<br></b>
Mucho gusto<br>
<br>
<b>How are you?<br></b>
Cómo estas?<br>
<br>
<b>I am doing well. And you?<br></b>
Estoy bien. ¿Y tu?<br>
<br>
<b>Thank you<br></b>
Gracias<br>
<br>
<b>See you later<br></b>
Hasta luego<br>
<br>
<b>I am not doing well<br></b>
Estoy mal<br>
<br>
<b>Goodbye<br></b>
Adios </p>

          <a href="{{ url_for('sign_up') }}">Click here to sign up and gain full access of our lessons</a>
          </p>
        </div>
      </div>
      <div class='col-sm-3'>

  <div class="w3-card">
              <img class="card-img-top" >
          <blockquote>
            <p><b>Lesson 2</p></b>
            <small class="lead"><u>
              Let's Talk About You <br></u>
             <br>
            </small>
          </blockquote>
          <p>
            <b>Where are you from?<br></b>
¿De dónde eres? <br>
<br>
<b>Entrepreneur/ businessman<br></b>
El empresario<br>
<br>
<b>Lawyer<br></b>
El abogado<br>
<br>
<b>Housewife<br></b>
El ama de casa<br>
<br>
<b>United States<br></b>
Los Estados Unidos <br>
<br>
<b>Good-looking, handsome<br></b>
Guapo<br>
<br>
<b>Married<br></b>
Casado<br>
<br>
<b>Single<br></b>
Soltero<br>
<br>
<b>She is married<br></b>
Ella es casada<br>
<br>
<b>He is a doctor<br></b>
Él es doctor<br>
</p>
          <a href="{{ url_for('sign_up') }}">Click here to sign up and gain full access of our lessons</a>
        </div>
      </div>

      <div class='col-sm-3'>
  <div class="w3-card">
              <blockquote>
                <br>
            <p><b>Lesson 3</p></b>
            <small class="lead"><u>
              At the Restaurant</u>
            <br>
            </small>
                                  </blockquote>
                                  <p><br>
                                    <b> I want <br></b>
Quiero <br>
<br>
<b>What do you want to eat?<br></b>
¿Qué quiere usted comer?<br>
<br>
<b>Please<br></b>
Por favor<br>
<br>
<b>You’re welcome<br></b>
De nada<br>
<br>
<b>Food<br></b>
Comida <br>
<br>
<b>Desert<br></b>
El postre<br>
<br>
<b>Salad<br></b>
La ensalada<br>
<br>
<b>Waiter<br></b>
El mesero<br>
<br>
<b>Good morning<br></b>
Buenos días<br>
<br>
<b>Good night<br></b>
Buenas noches<br>
</p>
                                  <a href="{{ url_for('sign_up') }}">Click here to sign up and gain full access of our lessons</a>
                                </div>
                              </div>

                              <div class='col-sm-3'>
  <div class="w3-card">
                                      <blockquote>
                                        <br>
                                    <p><b>Lesson 4</p></b>
                                    <small class="lead"><u>
                                      Likes and Dislikes </br></u>

                                    </small>
                                                          </blockquote>

                                                          <p>
<br>
<b> The weekend <br></b>
El fin de semana <br>
<br>
<b> What are you doing this weekend?<br></b>
¿Qué vas a hacer este fin de semana?<br>
<br>
<b> I am going to the beach<br></b>
Voy a la playa<br>
<br>
<b>To go to the beach<br></b>
Ir a la playa<br>
<br>
<b>To workout<br></b>
Hacer ejercicio <br>
<br>
<b> I like to go to the movies <br></b>
A mí me gusta ir al <br>
<br>
<b> Do you like to go shopping?<br></b>
¿Te gusta ir de compras?<br>
<br>
<b> Do you want to go out to eat?<br></b>
¿Quieres ir a comer?<br>
<br>
<b> What do you like to do during the weekend?<br></b>
¿Qué te gusta hacer en el fin de semana?<br>
<br>
<b> Let’s go this weekend <br></b>
Vamos este fin de semana <br>
</p>
                                                          <a href="{{ url_for('sign_up') }}">Click here to sign up and gain full access of our lessons</a>
                                                        </div>
                                                      </div>
                            </div>
                          </div>



                          <div id='growing your own'>
                            <h2><small>About the Team</small></h2>
                            <div class='row'>
                              <div class='col-sm-12'>
  <div class="w3-card">
                                      <img class="card-img-top" src="https://media.mnn.com/assets/images/2016/05/Two-Women-Laughing-At-Computer.jpg.653x0_q80_crop-smart.jpg" alt="best friends">
                                  <blockquote>
                                    <br>
                                    <p>Abi & Amber</p>
                                    <small>
                                      Two Streatham girls looking to make a difference in the world. <br>
                                      <br>
                                      We both have decided we wanted to learn Spanish, so why not take you on our journey with us! <br>
                                      <br>
                                    (We are also the best pals you have ever seen) <br>
                                    </small>
                                  </blockquote>
                                </div>
                              </div>

                                                </div>
                                              </div>
                                            </div>




                                      <!--footer-->

                                      <div class="footer">
                                        <a href="https://www.instagram.com/#learnspanish" class="fa fa-instagram"></a>
                                        <a href="https://www.pinterest.co.uk/search/pins/?rs=ac&len=2&q=learn%20spanish&eq=learn%20spanish&etslf=5089&term_meta" class="fa fa-pinterest"></a>

                                        </form>
                                      </div>


                                      <!--javascript-->

                                      <script>
                                      function w3_open() {
                                        document.getElementById("mySidebar").style.display = "block";
                                        document.getElementById("myOverlay").style.display = "block";
                                      }
                                      function w3_close() {
                                        document.getElementById("mySidebar").style.display = "none";
                                        document.getElementById("myOverlay").style.display = "none";
                                      }
                                      </script>


                                    </body>
                                    </html>
