<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel='stylesheet' href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_template.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/footer.css') }}">
</head>

<body>
	<div>
		<h1>Spanish Quiz</h1>
		<form method="post" action="/hello">
			<a href="/hello"><button type="button" class="btn btn-primary">Start the quiz!</button></a>
		</form>
	</div>
</body>

                                      <!--footer-->

                                      <div class="footer">
                                        <a href="https://www.instagram.com/#learnspanish" class="fa fa-instagram"></a>
                                        <a href="https://www.pinterest.co.uk/search/pins/?rs=ac&len=2&q=learn%20spanish&eq=learn%20spanish&etslf=5089&term_meta" class="fa fa-pinterest"></a>

                                        </form>
                                      </div>
</html>
